.activity-feed {

}

li {
  counter-increment: step-counter;
  border: 1px solid gray;
  display: flex;
}

li::before {
  content: counter(step-counter);
  padding: 10px;
  background-color: red;
}

.items {
  list-style: none;
}
