.activity-feed {
  margin: 3em auto;
  max-width: 1000px;
  font-family: sans-serif;
}

li {
  counter-increment: step-counter;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 2.5em;
}

/* for line connecting numbers */
li::before {
  content:"";
  position: absolute;
  left: -13px;
  border-left: 2px solid lightgray;
  height: 70%;
  width: 1px;
  top: 50px;
}

/* no line should show after last number in list */
li:last-child::before {
  height: 0;
}

/* style list numbers */
li::after {
  content: counter(step-counter);
  padding: 10px;
  background-color: red;
  height: 18px;
  width: 18px;
  color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: -30px;
  top: 0px;
}

li:nth-child(1)::after {
  background-color: #35c1a1;
}

li:nth-child(2)::after {
  background-color:  #f49c00;
}

li:nth-child(3)::after {
  background-color: #e74c35;
}

.items {
  list-style: none;
}

section {
  border: 1px solid #ebebed;
  margin: 1em;
  padding: 1em;
}

section p {
  color: #9f9fa1;
  line-height: 26px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-header h2 {
  font-size: 1.2em;
  margin: 0;
}

.item-header a {
  color: #9bc9ea;
  text-decoration: none;
}

/* Styles for smaller screens */
@media only screen and (max-width: 767px) {
  .item-header {
    flex-direction: column-reverse;
    align-items: unset;
  }
  .item-header h2 {
    margin: 1em 0 0;
  }
}
