@import 'react-ions/src/styles/common/colors';

form {
  width: fit-content;
  margin: 12px auto;
  background: $neutral-3;
  fieldset {
    border: none;
    h2 {
      font-size: 1.3em;
    }
  }
}

.fieldset-container {
  display: flex;
  align-items: flex-end;
  text-align: left;
  button {
    height: fit-content;
    margin: 4px;
  }
}

.error {
  .input-component {
    input {
      border: 1px solid red;
    }
  }
  color: red;
  font-size: 14px;
}

.input-component {
  text-align: left;
  margin: 4px;
  input {
    width: calc(50vw);
    max-width: 500px;
    padding: 2px;
  }
}
