@import 'react-ions/src/styles/common/colors';

.App {
  text-align: center;
  main {
    min-height: calc(100vh);
  }
}

footer {
  background: $primary-6;
  color: $neutral-1;
  p {
    margin: 0;
    padding: 40px 0;
    line-height: 28px;
  }
  a {
    color: $info;
  }
}
