@import 'react-ions/src/styles/common/colors';

.landing-page {
  header {
    background: $primary-2;
    overflow: hidden;
    color: $neutral-2;
    padding: 40px 0;
    a {
      text-decoration: none;
    }
  }

  nav {
    background: $primary-4;
    min-width: 80px;
    width: 100%;
    ul {
      display: unset;
      li {
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
      }
      a {
        text-decoration: none;
        color: $neutral-2;
        &:hover {
          color: $neutral-3;
        }
      }
    }
  }

  .content {
    display: flex;
    div {
      padding: 36px;
      text-align: left;
      line-height: 26px;
      font-size: 20px;
    }
  }
}
